/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  background-image: url("../images/background.png");
  margin: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.container h1 {
  color: white;
}

.container p {
  color: grey;
  margin-bottom: 30px;
}

.container a {
  background-color: #1EDD88;
  border-radius: 40px;
  padding: 15px 30px;
  color: white;
  margin-top: 10px;
}

.container h2 {
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border: 1px solid lightgray;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
  text-align: center;
  margin: 15px;
  padding: 20px;
}

.card img {
  width: 150px;
  height: auto;
}

.contact {
  background-color: #2c2b2b;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact > p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}


.inline-list > li {
  display: inline-block;
  padding: 0px 20px;
}

.inline-list > li > a {
  color: #1EDD88;
  width: 50px;
}
